@use '@/scss/_mixins' as *;

.header {
    padding: var(--spacing-200) var(--spacing-400) var(--spacing-200)var(--spacing-400);
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__title {
        @include text-preset-1;
        color: var(--color-heading);
    }

    &__search-bar {
        display: flex;
        align-items: center;
        gap: 1.6rem;

        .settings-icon {
            cursor: pointer;
            path {
                fill: var(--color-heading);
            }
        }
    }

    @media screen and (max-width: 940px) {
        background-color: var(--color-auth-bg);

        &__title {
            display: none;
        }

        &__search-bar {
            display: none;
        }
    }
}