@use '@/scss/mixins' as *;

.custom-toast {
    width: 100%;
    padding: var(--spacing-100);
    border: 1px solid var(--color-toast-border);
    border-radius: var(--spacing-100);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-right: 3.5rem;

    .message-container {
        display: flex;
        align-items: center;
        gap: var(--spacing-100);

        .check-icon {
            min-width: 2rem;
            min-height: 2rem;
            width: 2rem;
            height: 2rem;

            path {
                stroke: var(--color-green-primary);
                fill: var(--color-green-primary);
            }
        }

        .message {
            color: var(--color-toast-text);
            @include text-preset-5;
        }
    }

    .link {
        margin-right: var(--spacing-100);
        color: var(--color-toast-text);
        @include text-preset-5;

        a {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .close-icon {
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        position: absolute;
        right: 1.5rem;

        path {
            stroke: var(--color-toast-cross);
        }
    }
}