/* Inter */
@font-face {
  font-family: 'InterRegular';
  src: url('../assets/fonts/Inter/Inter18pt-Black.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'InterMedium';
  src: url('../assets/fonts/Inter/Inter18pt-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'InterSemiBold';
  src: url('../assets/fonts/Inter/Inter18pt-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'InterBold';
  src: url('../assets/fonts/Inter/Inter18pt-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Noto Serif */
@font-face {
  font-family: 'NotoSerifRegular';
  src: url('../assets/fonts/Noto_Serif/NotoSerif-Black.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSerifMedium';
  src: url('../assets/fonts/Noto_Serif/NotoSerifCondensed-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSerifSemiBold';
  src: url('../assets/fonts/Noto_Serif/NotoSerifCondensed-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSerifBold';
  src: url('../assets/fonts/Noto_Serif/NotoSerif-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Source Code Pro */
@font-face {
  font-family: 'SourceCodeProRegular';
  src: url('../assets/fonts/Source_Code_Pro/SourceCodePro-Black.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SourceCodeProMedium';
  src: url('../assets/fonts/Source_Code_Pro/SourceCodePro-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SourceCodeProSemiBold';
  src: url('../assets/fonts/Source_Code_Pro/SourceCodePro-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SourceCodeProBold';
  src: url('../assets/fonts/Source_Code_Pro/SourceCodePro-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
